@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* body {
  margin: 0;
  background: #080808;
  color: white;
  font-family: "Poppins", sans-serif;
} */

body {
  background: #09090b;
  color: white;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

body::before {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  top: -250px;
  right: -200px;
  background: rgba(6, 182, 212, 0.15);
  filter: blur(120px);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
}

body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  bottom: -200px;
  left: -150px;
  background: rgba(168, 85, 247, 0.12);
  filter: blur(120px);
  border-radius: 50%;
  pointer-events: none;
  z-index: -1;
}

.background-grid {
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);

  background-size: 40px 40px;
}
